h1{
	color: dodgerblue;
	font-family: Castellar;
	text-align: center;
}
h2{
	font-family: MV Boli;
	color: slateblue;
}
p{
	font-size: 24pt;
	color: green;
	text-align: center;
}
a{
	color: white;
	background-color: orange; 
	font-size: 18pt;
	text-decoration: none;
}
li:nth-child(odd){
	background-color: dodgerblue;
	}
	li:nth-child(even){
		background-color: orange;
	}
li{	font-size: 18pt;
}
body{
	background-image: url(a.jpg);
}